@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    overflow: hidden;
  

}

li {
    position: relative;
}

li.active{
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity,1));
}
li.active span{
  color:white;
}
li.active::after{
    content: '';
    background: #00d0ff;
    height: 100%;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;

}
